@charset "UTF-8";
/*-----------------

			ボタン

------------------*/
/* var base = 12;
var to = 72;
for (var i = 10; i<=to; i++) {
	var p = Math.ceil(i/base*100);
	console.log("$px"+i+":"+p+"%;");
} */
html, body {
  height: 100%;
}

.qiita {
  width: 1500px;
  height: 4300px;
  background-repeat: no-repeat;
  background-position: top center;
}

.qiita-button {
  position: absolute;
  top: 370px;
  left: 1050px;
  font-size: 10px;
  display: block;
  margin: 0 auto 40px auto;
  width: 120px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  outline: none;
  background-color: #4A4A4A;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.qiita-button:hover {
  background-color: #000;
}
.qiita-button::before, .qiita-button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.qiita-button, .qiita-button::before, .qiita-button::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.qiita-index {
  width: 100%;
}
